nav>ul {
  display: flex;
  align-items: center;
}

nav>ul>li {
  list-style: none;
  margin: 0 2rem;
}

nav>ul>li>a {
  font-weight: 600;
  color: blue;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: underline;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}